* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.header hr {
  margin-top: 10px;
}

.profileIntro {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
}

.profilePic {
  position: relative;
  display: inline-block;
}

.profilePic img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #000;
  border: 4px solid #2d9cdb;
  object-fit: cover;
}

.name {
  margin-left: 20px;
}

.name h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3c2f2f;
  margin: 0;
}

.name p {
  margin: 5px 0 0 0;
  font-size: 18px;
  color: #8a7563;
  letter-spacing: 10px;
}

.resume {
  margin-left: auto;
}

.resumeButton {
  background-color: #dab785;
  font: #3c2f2f;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
