* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f7efe5;
}

.header {
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.header h1 {
  color: #6b4f3a;
}

.header hr {
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-color: #b08968;
  opacity: 0.8;
}

.mainContent {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.mainContent .leftSection {
  flex: 1;
  padding-right: 20px;
}

.mainContent .leftSection p {
  margin-bottom: 10px;
  color: #3c2f2f;
}

.socialLink {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  gap: 40px;
}

.socialLink a {
  text-align: center;
  color: #3c2f2f;
  border: #3c2f2f 2px solid;
  padding: 10px;
  border-radius: 100%;
}

.socialLink a:hover {
  color: white;
  border: white 2px solid;
  background-color: #3c2f2f;
}

.socialLink a i {
  width: 20px;
  height: 20px;
}

@media (max-width: 800px) {
  .socialLink a {
    text-align: center;
    color: #3c2f2f;
    border: #3c2f2f 2px solid;
    padding: 4px;
    border-radius: 100%;
  }
}

.mainContent .leftSection iframe {
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 350px;
}

.mainContent .centerDivider {
  width: 1px;
  background-color: #d8c4b0;
  opacity: 0.8;
}

.mainContent .rightSection {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.mainContent .rightSection form {
  width: 100%;
  margin-top: 10px;
}

.mainContent .rightSection form input {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.mainContent .rightSection form select {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.mainContent .rightSection form textarea {
  padding-top: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical;
  min-height: 100px;
}

.mainContent .rightSection form label {
  color: #3c2f2f;
}

.contactRow {
  display: flex;
  gap: 15px;
  width: 100%;
}

.contactRow .codeField {
  flex: 1;
}

.contactRow .phoneField {
  flex: 2;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submitButton {
  align-items: center;
  background-color: #dab785;
  font: #3c2f2f;
  border: none;
  height: 50px;
  border-radius: 10px;
  width: 200px;
}

.submitButton:hover {
  background-color: #b08968;
  cursor: pointer;
}

.error {
  border: 2px solid red !important;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 8px;
}
