* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f7efe5;
}

.header {
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.header hr {
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-color: #b08968;
  opacity: 0.8;
}

.mainContent {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.mainContent .leftSection {
  flex: 1;
}

.mainContent .rightSection {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.mainContent .rightSection h3 {
  margin-bottom: 20px;
  color: #3c2f2f;
}

.mainContent .rightSection form {
  width: 100%;
}

.mainContent .rightSection form input {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.mainContent .rightSection form label {
  color: #3c2f2f;
}

.contactRow {
  display: flex;
  gap: 15px;
  width: 100%;
}

.contactRow .codeField {
  flex: 1;
}

.contactRow .phoneField {
  flex: 2;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submitButton {
  align-items: center;
  background-color: #dab785;
  font: #3c2f2f;
  border: none;
  height: 50px;
  border-radius: 10px;
  width: 200px;
}

.submitButton:hover {
  background-color: #b08968;
  cursor: pointer;
}
