* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

footer {
  background-color: #6e4528;
  color: #f7efe5;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  margin-top: auto;
}

.socialIcon {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  word-spacing: 10px;
}

.socialIcon a {
  text-align: center;
  color: #f7efe5;
  padding: 10px 0px 5px 0px;
  word-spacing: 20px;
  border: #f7efe5 2px solid;
  padding: 7px;
  border-radius: 100%;
}

.socialIcon a:hover {
  color: #ffd89b;
  border: #ffd89b 2px solid;
}

.socialIcon a i {
  width: 20px;
  height: 20px;
}

.navItems ul {
  display: flex;
  justify-content: center;
}

.navItems li {
  list-style: none;
  margin: 0px 15px 0px 15px;
  padding-bottom: 10px;
}

.navItems a {
  color: #f7efe5;
  text-decoration: none;
  justify-content: center;
}

.navItems a:hover {
  color: #ffd89b;
}

.copyright {
  padding-bottom: 10px;
}

.authorName {
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .navItems ul {
    flex-direction: column;
  }

  .navItems li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
