* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../img/HomeScreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainContent {
  position: relative;
  width: 100%;
  height: 100vh;
}

.contentText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.contentText p {
  margin-top: 20px;
}
