* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../img/HomeScreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
