nav {
  background-color: #8b5e3c;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 60px;
  margin-bottom: 5px;
}

nav li:first-child {
  margin-right: auto;
  font-size: 25px;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #f7efe5;
}

nav a i {
  margin-right: 8px;
  margin-top: 0px;
  color: #f7efe5;
}

nav a:hover,
nav a:hover i {
  color: #ffd89b;
}

nav a.active {
  color: #f9c784;
  border-bottom: #f9c784 5px solid;
}

nav a.active i {
  color: #f9c784;
}

.menuButton {
  display: none;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: #8b5e3c;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menuButton {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .menuButton {
    display: block;
  }
}
