* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f7efe5;
}

.header {
  margin-top: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.header hr {
  margin-top: 10px;
  border: 0;
  height: 1px;
  background-color: #b08968;
  opacity: 0.8;
}

.mainContent .searchBar {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.mainContent .searchBar input {
  width: 90%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.serachProject {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background-color: #dab785;
  font: #3c2f2f;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
}

.serachProject:hover {
  background-color: #b08968;
  cursor: pointer;
}

.serachProject i {
  margin-right: 10px;
}

.projectDetails {
  padding-left: 20px;
  padding-right: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background: #e8d8c0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.filter-btn:hover {
  background: #d3b894;
}

.filter-btn.active {
  background: #b08968;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  margin-top: 10px;
  color: #3c2f2f;
}

.project-card p {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

.projectDetails {
  padding-left: 20px;
  padding-right: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background: #e8d8c0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.filter-btn:hover {
  background: #d3b894;
}

.filter-btn.active {
  background: #b08968;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  margin-top: 15px;
  color: #3c2f2f;
}

.project-card p {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}
